--root {
  --branding-color: pink;
  --primary-color: aliceblue;
  --heading-font-family: Playfair Display serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  color: black;
  font-family: Playfair Display serif;
  font-weight: bold;
}
h1 {
  font-size: 80px;
}
p {
  font-weight: normal;

  line-height: 1.5;
}
.Hero p {
  font-weight: bold;
}
.Hero h2 {
  font-size: 24px;
  line-height: 30px;
}
.Hero {
  background: #afa79f;
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background: #e8bcbc;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 30px;
}
img {
  width: 500px;
  border-radius: 10px;
}
.btn-branding-outline {
  color: #afa79f;
  padding: 15px 30px;
  border: 1px solid #afa79f;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-) font-family;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
@media (max-width: 900px) {
  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
